<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <title>Thank You Note</title>
   </head>
   <body>
      <section style="font-size: 18pt;">
            <p>Dear {{name}},</p>
            <p>
               Thank you <em>so much</em> for the {{gift}}.
               I'm having lots of fun {{verb}} with it.
               It's already made me a better {{noun}}!
            </p>
            <p>{{closing_word}},</p>
            <p>{{author}}</p>
      </section>
   </body>
</html>